.TextPage_main {
  width: 100%;
  height: 100%;
  padding: 1em;
  background: rgba(245, 246, 247, 0.95);
}

.TextPage_content {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 2em;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.TextPage_text {
  margin-top: 1em;
  line-height: 1.8;
  color: #333;
  font-size: 1.25em;
  width: 100%;
  height: calc(100% - 3em);
}
